body {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  background-image:url(https://media.gettyimages.com/photos/minatomirai-picture-id458001813?s=2048x2048);
  z-index: -1;
  height:100%;
}


.updateText {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
}

a {
  color:white;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  padding: 1vh;
}

a:hover {
  background-color: #8c6245;
  border-radius:10px;
  opacity: .7;
}
.pubname{
  font-size: 5rem;
  opacity: .9;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.food img {
  height:300px;
  width: 375px;
  margin:5px;
  color:black;
}
